﻿@model IEnumerable<StudentManagement.Models.Class>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .head{
        position: center;
        padding-left: 100px;
        margin-left: 200px;
    }
</style>

    <div class="head">
        <div class="col-lg-12">
            <h1>LIST OF COURSE</h1>
            </div>
        </div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Action
        </th>
    </tr>

@{ 
    var count = 1;
}
@foreach (var item in Model) {
    <tr>
        <td>
            @{ 
                <span>@count</span>
                count++;
            }
        </td>
        <td>
            <a href="Students/StudentList/@item.id">@item.Name</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}
    </table>

