﻿@model IEnumerable<StudentManagement.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Class </h2>

<p>
    @Html.ActionLink("New Student", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @*gender = true*@
            @*tương đương với dòng này if(item.Gender==true)*@
            @if (item.Gender)
            {
                <span>Name</span>
            }
            else
            {
                <span>Nữ</span>
            }

        </td>
        <td>@Html.ActionLink("Add Grade","InputView","Students")</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    //function addgrade() {
    //    var obj = document.getElementById("btnGrade");
    //    obj. = 
    //}
    //function buttonClick() {

    //}
</script>
