﻿
@model IEnumerable<StudentManagement.Models.Attend>

@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //so thu tu thoi
    var count = 1;
}

<h2>Index</h2>

<table class="table table-border">
    <tr class="head1">
        <th>No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Grade</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="head2">
            <th>@count</th>
            @{
                count++;
            }
            <td class="student-name" attendand-id="@item.id">
                @item.Student.Name
            </td>
            <td class="student-gender">
                @if (item.Student.Gender)
                {
                    <span>Nam</span>
                }
                else
                {
                    <span>Nữ</span>
                }

            </td>
            <td class="student-grade">@item.Grade</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<!--Modal-->
<div class="modal fade" id="modal-grade" role="dialog">
    <div class="modal-dialog modal-sm" style="width: 20%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title" style="font-weight:bold;font-size:18px;">Add Grade</span>
            </div>
            <div class="modal-body" style="padding: 0px 20px;">
                <div class="form-group">
                    <label for="grade">Grade</label>
                    <input type="number" id="grade" class="form-control" min="0" max="10"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-save">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function updateGrade(grade,cb) {
        $.ajax({
            url: '/Students/UpdateGrade/',
            type: 'post',
            data: { grade },
            dataType: "json",
            success: cb,
           
            error: function (err) {
                alert(err.statusText);
            },
        });
    }
    $(document).ready(function () {
        $('.btn-grade').on('click', function () {
            //get id attend
            id = $(this).parents('tr').find('.student-name').attr('attendand-id');
            //var obj = $("table").find("td").text()
            //trước khi show modal -> reset điểm về 0;
            $('#grade').val(0);
            $('#modal-grade').modal('show');
        });
        //viết sự kiện cho nut save
        $('.btn-save').on('click', function () {
            //lay gia tri grade
            //lay gia tri dung ham .val() nha 
            var value = $('#grade').val();

            //kiem tra xem co null hay khong
            if (value=='') {
                //nếu rỗng
                //báo lỗi
                alert('Điểm không được bỏ trống');
            } else if (value < 0 || value > 10) {
                alert('Nhập điểm lớn hơn không và nhỏ hơn 10');
            } else {
                //ajax update điểm trong attend
                //khúc ajax ngân làm dc ko?
                //:))
                //để update attendance cần id_attend chính là thằng id và thằng điểm chính là grade
                var grade = {
                    id: id,
                    Grade: value
                }
                updateGrade(grade);
                $('#modal-grade').modal('hide');
            }
        })
        var oldgrade,id;
        $('.student-grade').on('dblclick', function () {
            if (!$(this).hasClass('grade-active')) {
                id = $(this).parents('tr').find('.student-name').attr('attendand-id');
                oldgrade = $(this).html();
                $(this).html('');
                $(this).append('<input type="number" id="grade" class="form - control" min="0" max="10"/ value="' + oldgrade + '"><button class="btn btn-default btn-xs btn-grade-save">Save</button><button class="btn btn-danger btn-xs btn-grade-cancel">Cancel</button>');
                $(this).addClass('grade-active');    
            }
            
        })
        //save button 
        $('body').on('click', '.grade-active>.btn-grade-save', function () {
            var a = $(this);
            var value = $('#grade').val();
            var grade = {
                id: id,
                Grade: value
            }
            updateGrade(grade, function (data) {
                var status = parseInt(data['Status']);
                var message = data.Message;
                if (status == 1){
                    a.parents('.student-grade').html(grade.Grade).removeClass('grade-active');
                }
            });
        })
        //cancel button
        $('body').on('click', '.grade-active>.btn-grade-cancel', function () {
            $(this).parents('.student-grade').html(oldgrade).removeClass('grade-active');
        })
    });


</script>